
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">R P S</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="/user/game">Play</a></li>
          <li><a href="#">Find Friends</a></li>
          <li><a href="/sign_in">Sign out</a></li>

         </ul>
       </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Invite Friends</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-centered small-6 large-6 columns">
    <div class="row">
      <div class='show-for-medium-only'><h3>Challenge an Opponent</h3></div>
      <div class='show-for-large-up'><h1>Challenge an Opponent</h1></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 small-centered panel column">
    <table>
      <thead>
        <tr>
          <th width="600">Players</th>
          <th width="200">Wins</th>
          <th width="200">Games Played</th>
          <th width="200">Challenge</th>
        </tr>
      </thead>
      <tbody>
      <% players = RPS.orm.list_players %>
      <%  players.each do |player| %>
        <% if player.username != session[:username] %>
        <tr>
          <td><%= player.username %></td>
          <td><%= player.win_count%></td>
          <td><%= player.games_played%></td>
          <td><a class=" button tiny"  href='/user/game/first_move?player2=<%= player.username %>'>Challenge Player</a></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

