<form method="POST" action='/rock'>
  <button type='submit' class="button">Rock</a>
</form>

<form method="POST" action='/paper'>
  <button type='submit' class="button">Paper</button>
</form>

<form method="POST" action ='/'>
  <button type='submit' class="button">Scissors</button>
</form>
