
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">R P S</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="#">Play</a></li>
          <li><a href="#">Find Friends</a></li>
          <li><a href="#">Settings</a></li>
         </ul>
       </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Invite Friends</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-centered small-6 large-6 columns">
    <div class="row">
      <div class='show-for-medium-only text-center'><h3>Your Games</h3></div>
      <div class='show-for-large-up text-center'><h1>Your Games</h1></div>
    </div>
  </div>
</div>

<!-- Top bar ^ -->

<div class = 'row'>
  <div class="small-6 small-centered panel column">
    <h5 class ='text-center'>Your Active games</h5>
    <table>
      <thead>
        <tr>
          <th class='text-center' width="150">Player 1</th>
          <th class='text-center' width="150">Player 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='text-center'>Jered</td>
          <td class='text-center'>Jon</td>
          <td><button class = 'tiny'>Make your move</button></td>
        </tr>
        <tr>
          <td class='text-center'>Jered</td>
          <td class='text-center'>Jon</td>
          <td><button class = 'tiny'>Make your move</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class = 'row'>
  <div class="small-6 small-centered panel column ">
    <h5 class ='text-center'>last 10 Finished games</h5>
    <table>
      <thead>
        <tr>
          <th class='text-center' width="150">Player 1</th>
          <th class='text-center' width="150">Player 2</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
        <% player2 = RPS.orm.select_player_by_id( game.player1 )%>
        <% player1 = RPS.orm.select_player_by_id( game.player2 )%>
        <tr>
          <td class='text-center' ><%= player1.name %></td>
          <td class='text-center'><%= player2.name %></td>
          <td><button class = 'tiny'>review game</button></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
</div>
