

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">R P S</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="#">Play</a></li>
          <li><a href="#">Find Friends</a></li>
          <li><a href="#">Settings</a></li>
         </ul>
       </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Invite Friends</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-centered small-6 large-6 columns">
    <div class="row">
      <div class='show-for-medium-only'><h3>Rock Paper Scissors</h3></div>
      <div class='show-for-large-up'><h1>Rock Paper Scissors</h1></div>
    </div>
  </div>
</div>



<form method="POST">
  <div class="row">
    <div class="small-9 small-centered">
      <div class="row">
        <div class="small-4 columns">
          <label for="right-label" class="right inline">Username</label>
        </div>
        <div class="small-8 columns">
          <input type="text" id="username" placeholder="Please enter your username">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered">
      <div class="row">
        <div class="small-4 columns">
          <label for="right-label" class="right inline">Password</label>
        </div>
        <div class="small-8 columns">
          <input type="text" id="password" placeholder="Please enter a password">
        </div>
      </div>
    </div>

    <div class = 'row right'>
      </div class = 'small-7 small-right columns'>
        <button>sign in</button>
        <button class = 'right'>new player</button>
    </div>
  </div>

</form>


